.hero-1 {
    position: relative;

    .array-button{
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
  
    }

    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    //pagination default
    .swiper-dot {
        position: absolute;
        bottom: 5%;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            transition: 0.6s;
            background-color: $white;
            opacity: 1;
            border-radius: 10px;
            &:not(:last-child){
            margin-right: 10px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color;
            transition: 0.6s;
            position: relative;
    
            &::before{
            position: absolute;
            width: 22px;
            height: 22px;
            line-height: 22px;
            top: -6px;
            left: -6px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid $theme-color;
            content: "";
            }
        }
    }

    .shape-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        bottom: 0;

        img {
            @include imgw;
        }
    }

    .shape-image-2 {
        position: absolute;
        top: -20%;
        right: 0;
        z-index: 9;

        @include breakpoint (max-xl){
            display: none;
        }
    }


    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;

        &::before {
            @include before;
            background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
            z-index: -1;
        }
    }

    .hero-content {
        padding: 180px 0 180px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
            padding: 130px 0 130px;
        }

        h6 {
            color: $white;
            background-color: $theme-color;
            padding: 8px 20px;
            line-height: 1;
            display: inline-block;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }

        h1 {
            color: $white;
            margin-bottom: 40px;

            @include breakpoint (max-xxl){
                font-size: 70px;
            }

            @include breakpoint (max-lg){
                font-size: 56px;
            }

            @include breakpoint (max-md){
                font-size: 43px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        
    }
}

.hero-2 {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        // background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
        background: #120F2D;
        opacity: 0.3;
    }

    .hero-content {
        padding: 225px 0;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xxl){
            padding: 180px 0;
        }

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
            padding: 130px 0;
        }

        h1 {
            color: $white;
            font-size: 75px;
            margin-bottom: 30px;

            @include breakpoint (max-xl){
                font-size: 70px;

                br {
                    display: none;
                }
            }

            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $white;
            font-weight: 500;
        }
        
        .hero-button {
            @include flex;
            gap: 15px;
            margin-top: 50px;
            flex-wrap: wrap;

            @include breakpoint (max-md){
                justify-content: center;
                margin-top: 30px;
            }

            .theme-btn {
                &.bg-white {
                    &::before,&::after {
                        background-color: $theme-color;
                    }
                }
            }
        }
    }
}

.hero-3 {
    position: relative;

    .array-button{
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
  
    }
  
    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
    
        &::before {
            @include before;
            background-color: #120F2D;
            opacity: 0.3;
        }
    }

    .shape-image {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .hero-content {
        position: relative;
        padding-top: 185px;
        padding-bottom: 200px;

        h1 {
            font-size: 110px;
        }

        @include breakpoint (max-md){
            padding-top: 170px;
            padding-bottom: 185px;
        }

        @include breakpoint (max-sm){
            padding-top: 125px;
            padding-bottom: 145px;
        }
 
        h1 {
             @include breakpoint (max-xxl){
                 font-size: 80px;
             }
 
             @include breakpoint (max-xl){
                 font-size: 72px;
             }
 
             @include breakpoint (max-lg){
                 font-size: 62px;
             }
 
             @include breakpoint (max-md){
                 font-size: 48px;
             }
 
             @include breakpoint (max-sm){
                 font-size: 36px;
                 line-height: 1.3;
             }
        }
 
        .hero-button {
             margin-top: 50px;
 
             @include breakpoint (max-sm){
                 margin-top: 20px;
             }
        }
    }
}

.hero-4 {
    position: relative;

    .hero-image {
        padding: 250px 0;
        position: relative;
        z-index: 9;

        @include breakpoint (max-lg){
            padding: 160px 0 160px;
        }

        @include breakpoint (max-md){
            padding: 130px 0 130px;
        }

        &::before {
            @include before;
            background-color: rgba(18, 19, 21, 0.5);
            z-index: -1;
        }

        .hero-content {
            text-align: left !important;
            p {
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                letter-spacing: 1px;
                margin-bottom: 20px;
                font-size: 18px;
            }

            h1 {
                color: $white;
                font-weight: 600;
                font-size: 80px;

                @include breakpoint (max-xl){
                    font-size: 80px;
                }
    
                @include breakpoint (max-lg){
                    font-size: 60px;
                }
    
                @include breakpoint (max-md){
                    font-size: 48px;
                }
    
                @include breakpoint (max-sm){
                    font-size: 34px;
                }

                span {
                    font-weight: 700;
                }
            }

            .hero-button {
                @include flex;
                gap: 15px;
                margin-top: 50px;

                @include breakpoint (max-md){
                    margin-top: 30px;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .array-button{
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
  
    }

    .swiper-dot{
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        z-index: 9;
    }

    .swiper-dot {
        text-align: center;
      
        .swiper-pagination-bullet {
            width: 30px;
            height: 8px;
            transition: 0.6s;
            background-color: $white;
            opacity: 1;
            border-radius: 60px;
            position: relative;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color;
            transition: 0.6s;
            position: relative;
            width: 51px;
        }
      
      }
}